html{
    /*font-size:75px;*/
}
body,html{
    background: #10042e;
    font-family: "Microsoft YaHei" ! important;
    box-sizing: border-box;
}
body{
    color: #fff;
}
.header{
    /*font-size: 24px;*/
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.switch{
    float:left;
    line-height: 100px;
}
.switch span{
    display: block;
    float: left;
    height: 60px;
    line-height: 60px;
}
.swt{
    width: 100px;
    height: 60px;
    border-radius: 30px;
    display: inline-block;
    margin-left: 20px;
}
.swt_btn{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    float: left;
    background: #fff;
    transition: margin-left 0.2s;
}
.swt_close{
    background: #555555;
}

.swt_close .swt_btn{
    margin-left: 0;
}
.swt_open{
    background: #189e47;
}
.swt_open .swt_btn{
    margin-left: 40px;
}

.staus{
    float: right;
    margin-top: 5px;
}
.staus span{
    height: 100px;
    margin-right: 15px;
}
.staus .staus_pot{
    display: inline-block;
    font-size: 20px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #189e47;
    border-radius: 50px;
}
.container{
    width: 100%;
    position: relative;
    margin-top: 140px;
}
.lamp{
    width: 182px;
    height: 236px;
    position: absolute;
    left: 50%;
    margin-left: -91px;
    display: inline-block;
    top: 50%;
    margin-top: -118px;
}
.lamp_top{
    width: 182px;
    height: 182px;
    border-radius: 91px;
    border: 2px solid #fff;
    background: #10042e;
}
.lamp_mid{
    width: 82px;
    height: 24px;
    border: 1px solid #fff;
    border-top: 2px solid transparent;
    margin-left: 50px;
    margin-top: -13px;
    background: #10042e;
}
.lamp_btm{
    width: 82px;
    height: 32px;
    border: 1px solid #fff;
    margin-left: 50px;
    margin-top: 10px;
    background: #10042e;
    border-radius: 0 0 10px 10px;
}

.lamb_light .lamp_top{
    background: #fff;
    box-shadow: 0 0 60px 3px #fff;
}
.lamb_light .lamp_mid{
    background: #fff;
    box-shadow: 0 0 60px 3px #fff;
}
.lamb_light .lamp_btm{
    background: #fff;
    box-shadow: 0 0 60px 3px #fff;
}
#cav{
    left: 50%;
    display: block;
    position: absolute;
}

.infor{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10%;
    /*margin-top: 10px;*/
    transition: margin-left 0.5s;
}
.info_close{
    margin-left: -100%;
}
.info_box{
    width: 220px;
    margin: 0 auto;
}
.temp,.humidity,.light,.hum{
    width: 50%;
    height: 104px;
    float: left;
}
.light,.hum{
    height: 90px;
    margin-top: 90px;
}
.temp i{
    width: 50px;
    height: 102px;
    background: url("../dist/img/info1.png");
    background-size: 100% 100%;
    display: block;
    float: left;
    margin-right: 20px;
}
.humidity i{
    width: 70px;
    height: 100px;
    background: url("../dist/img/info2.png");
    background-size: 100% 100%;
    display: block;
    float: left;
    margin-right: 20px;
}
.light i{
    width: 68px;
    height: 78px;
    background: url("../dist/img/info3.png");
    background-size: 100% 100%;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}
.hum i{
    width: 68px;
    height: 78px;
    background: url("../dist/img/info4.png");
    background-size: 100% 100%;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}
.infor_cont{
    float: left;
    height: 100%;
}
.infor_cont div{
    height: 50%;
    line-height: 51px;
}
.infor_cont .num{
    color: #2c89ff;
}
.control_box{
    position: relative;
    margin-bottom: 0;
    width: 100%;
    height: 390px;
    overflow: hidden;
}
.control{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    top: 100px;
    left: -100%;
    transition: left 0.5s;
}
.control_in{
    left: 0;
}
.control .cont_item{
    width: 100px;
}
.control .cont_item i{
    width: 100px;
    height: 100px;
    display: block;
}
.control .cont_item:nth-child(1) i{
    background: url("../dist/img/control1.png");
    background-size: 100% 100%;
}
.control .cont_item:nth-child(2) i{
    background: url("../dist/img/control2.png");
    background-size: 100% 100%;
}
.control .cont_item:nth-child(3) i{
    background: url("../dist/img/control3.png");
    background-size: 100% 100%;
}
.control .cont_item:nth-child(4) i{
    background: url("../dist/img/control4.png");
    background-size: 100% 100%;
}
.clear{
    clear: both;
}
.control .cont_item div{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.white_light,.colour_light{
    width: 100%;
    position: absolute;
    top: 370px;
}
.white_light_open{
    top: 60px;
    transition: top 0.5s;
}
.white_light_close{
    top: 370px;
    transition: top 0.5s;
}
.light_close{
    width: 100%;
    height: 70px;
    background-color: #150a32;
    box-sizing: border-box;
    padding-top: 25px;
}
.light_close i{
    width: 29px;
    height: 17px;
    display: block;
    background: url("../dist/img/light3.png");
    background-size: 100% 100%;
    margin: 0 auto;
}
.light_item,.light_item2{
    height: 120px;
    width: 100%;
    background-color: #180d35;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.light_item i,.light_item2 i{
    display: block;
    margin-right: 30px;

}
.light_item span,.light_item2 span{
    flex-grow: 1;
}
.light_item input[type='range'],.light_item2 input[type='range']{
    height: 8px;
    flex-grow: 9;
    -webkit-box-shadow: 0 1px 0 0 #fff, 0 1px 0 #fff inset, 0 2px 10px 0 #fff inset, 1px 0 2px #fff inset, 0 0 1px #fff inset;
    margin-top: 2px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: default;
    height: 30px;
    width: 30px;
    background: none repeat scroll 0 0 #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0 -1px 1px #fff inset;
}
.white_light .light_item .item1,
.white_light .light_item2 .item1{
    width: 26px;
    height: 27px;
    /*display: block;*/
    background: url("../dist/img/light1.png");
    background-size: 100% 100%;
}
.white_light .light_item .item2,
.white_light .light_item2 .item2{
    width: 32px;
    height: 34px;
    background: url("../dist/img/light2.png");
    background-size: 100% 100%;
}














